@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --question-bg-color: #333333;
    --answer-bg-color: #666666;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --question-bg-color: #cccccc;
    --answer-bg-color: #aaaaaa;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.ask-question {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.submitbtn {
  max-width: fit-content;
}

div.question {
  border-radius: 5px;
  padding: 1ch;
  margin: 0.5ch;
}

.question {
  background-color: var(--question-bg-color);
}

.question > .time {
  background-color: var(--question-bg-color);
}

div.question {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

div.time {
  font-size: smaller;
}

.answer {
  border-radius: 3px;
  background-color: var(--answer-bg-color);
  padding: 0.5ch;
}

.answer > .time {
  background-color: var(--answer-bg-color);
}
