{% extends "base.jinja" %}
{% block body %}
  {% if questions | length == 0 %}
    <h2>All questions answered!</h2>
  {% endif %}
  {% for question in questions %}
    <div class="question">{{ question.question }}</div>
    <form method="post">
      <input name="id" value="{{ question.id }}" hidden />
      <label for="answer">Response: </label>
      <input name="answer" id="answer" required />
      <label for="content_warning">Content warning: </label>
      <input
        name="content_warning"
        id="content_warning"
        value="{{ question.content_warning }}"
      />
      <button type="submit">Submit!</button>
      <button type="submit" formaction="/delete" formmethod="post" formnovalidate>
        Delete!
      </button>
    </form>
  {% endfor %}
{% endblock body %}
