{% extends "base.jinja" %}
{% block body %}
  <form method="post">
    {% if bad %}
      <span>Bad password!</span><br />
    {% endif %}
    {% if ratelimited %}
      <span
        >You have been ratelimited, please wait a moment before submitting
        again.</span
      >
    {% endif %}
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required />
    <button type="submit">Submit!</button>
  </form>
{% endblock body %}
