<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q &amp; A</title>
    <link href="/assets/style.css" rel="stylesheet" nonce="{{ nonce }}"/>
    <script src="/assets/dates.js" nonce="{{ nonce }}" async defer></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
