<!DOCTYPE html>
<html>
  <head>
    <title>Q &amp; A</title>
    <link href="/style.css" rel="stylesheet" nonce="{{ nonce }}" />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  <script>
    document.querySelectorAll('[data-timestamp]').forEach((elm) => {elm.innerHTML = new Date(parseInt(elm.dataset.timestamp) * 1000).toLocaleString()})
  </script>
</html>
