{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block body %}
  <h1>Leave an anonymous message</h1>
  {% if ratelimited %}
    <h2>
      You have been ratelimited, please wait a moment before submitting again.
    </h2>
  {% endif %}
  {% if success %}
    <h2>Successfully submitted post! It will show here when answered.</h2>
  {% endif %}
  <form method="post" class="ask-question">
    <div>
      <label for="question">What's your question?</label>
      <input name="question" id="question" required />
    </div>
    <div>
      <label for="content_warning">Optional content warning:</label>
      <input name="content_warning" id="content_warning" />
    </div>
    <button type="submit" class="submitbtn">Send!</button>
  </form>
  {% if answers | length == 0 %}
    <h2>No questions yet! Wanna be the first to ask?</h2>
  {% endif %}
  {% for answer in answers %}
    <a href="#question-{{ answer.question.id }}">
      <div class="question" id="question-{{ answer.question.id }}">
        {% if answer.question.content_warning %}
          <details class="question">
            <summary class="question">
              cw {{ answer.question.content_warning }}
            </summary>
            {{ macros::answer_macro(answer=answer) }}
          </details>
        {% else %}
          {{ macros::answer_macro(answer=answer) }}
        {% endif %}
      </div>
    </a>
  {% endfor %}
{% endblock body %}
